{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transcribe Assist</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">Transcribe Assist</div>
      <div class="audio-player">
        <audio id="audio">
          <source id="audio-source" src="" type="audio/mp3" />
          Your browser does not support the audio element.
        </audio>
        <div class="controls-place">
          <div class="custom-controls">
            <div class="inline-controls">
              <button id="pause-button"><i class="fas fa-pause"></i></button>
              <button id="volume-button">
                <i class="fas fa-volume-up"></i>
              </button>
              <input
                type="range"
                id="volume-slider"
                min="0"
                max="1"
                step="0.01"
                value="1"
              />
            </div>
            <label>
              <input type="checkbox" id="duration-checkbox" checked /> Show
              Duration
            </label>
            <input type="range" id="progress-bar" min="0" max="100" value="0" />
            <div id="stopwatch">00:00:00</div>
          </div>
        </div>
        <div class="counter">
          <div id="layout-button" class="center2">
            <p>Words:</p>
            <p id="word-counter">0</p>
            <p>Slashes:</p>
            <p id="slash-counter">0</p>
            <p>Avarage:</p>
            <p id="avarage-counter">0</p>
          </div>
          <input
            type="text"
            placeholder="Enter the coursebook's name, part and page"
            id="name-text-area"
            spellcheck="true"
          />
        </div>
        <div class="logo-container">
          <img src="{% static "img/logo.jpg" %}" alt="Logo" class="circle-logo" />
        </div>
      </div>
      <!-- <div id="stopwatch">00:00:00</div> -->
      <div class="main">
        <textarea
          id="text-area"
          spellcheck="true"
          class="text-area"
          placeholder="Enter your text here..."
        ></textarea>
        <div class="highlighting-tools">Highlighting tools</div>
        <div class="playlist-container">
          <div class="tracks">Tracks</div>
          <div class="upload-container">
            <input type="file" id="audio-upload" accept="audio/*" />
          </div>
          <ul class="playlist">
            {% for audio in audio_files %}
            <li data-src="{{ audio.audio.url }}">{{ audio.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="footer">
        <button class="start" id="start-stop-button">Start</button>
        <button class="restart" id="restart-button">Restart</button>
        <button class="spell-check" id="toggleButton" onclick="toggleSpellCheck()">
          Spell Check: On
        </button>
        {% comment %}
        <p id="status">Spell Check: off</p>
        {% endcomment %}
        <button id="find-missing-words" class="find-missing-words-color">
          Find missing words
        </button>
        <button class="create-pdf" onclick="createPdf()">Create Pdf</button>
      </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
